body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
$primary: #f0c040;
$secondary: #f08000;
/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

.myNav {
	position: sticky;
	top: 0;
	z-index: 1;
}
