body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.body {
	min-height: 100vh;
}
main {
	flex: 1 0 auto;
}

/* Map */

.full-box {
	height: 100vh;
	max-width: initial;
}
.full-box header,
.full-box footer {
	display: none;
}
.full-box .container {
	height: 100vh;
	max-width: initial;
	margin: 0;
	padding: 0;
}

.full-box .mt-3 {
	margin-top: 0 !important;
}

.map-input-box {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0.5rem auto;
	width: 25rem;
	height: 3rem;
	display: flex;
}
.map-input-box input {
	border-radius: 1rem 0 0 1rem;
	border-right: 0;
}
.map-input-box button {
	border-radius: 0 1rem 1rem 0;
	border-left: 0;
}

$primary: #f0c040;
$secondary: #f08000;
/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

.myNav {
	position: sticky;
	top: 0;
	z-index: 1;
}
